<div ng-controller="jumooOpeningSoonController as vm">


    <div class="opening-times-table">
        <div class="opening-times-table-head"></div>
        <div class="opening-times-table-body">
            <div ng-repeat="day in model.value">

                <div class="opening-day-name">{{day.name}}</div>
                <div class="opening-toggle">
                    <umb-toggle checked="day.scheduled" on-click="day.scheduled = !day.scheduled"></umb-toggle>
                </div>

                <div class="opening-times" ng-if="day.scheduled">

                    <div class="opening-time-pair">
                        <div class="opening-time-input">
                            <input type="text" time-picker ng-model="day.open" />
                        </div>
                        <div>
                            <localize key="openingsoon_until"></localize>
                        </div>
                        <div class="opening-time-input">
                            <input type="text" time-picker ng-model="day.close" />
                        </div>
                    </div>

                    <div><localize key="openingsoon_and"></localize></div>

                    <div class="opening-time-pair" ng-if="model.config.secondSet != 0">
                        <div class="opening-time-input">
                            <input type="text" time-picker ng-model="day.open2" />
                        </div>
                        <div>
                            <localize key="openingsoon_until"></localize>
                        </div>
                        <div class="opening-time-input">
                            <input type="text" time-picker ng-model="day.close2" />
                        </div>
                    </div>
                </div>
                <div class="opening-times opening-not-scheduled" ng-if="!day.scheduled">
                    <localize key="openingsoon_notScheduled"></localize>
                </div>

            </div>

        </div>
        
    </div>

    <div class="opening-times-actions">
        <a ng-if="model.config.enableClear"
           ng-click="vm.reset()"
           class="btn btn-small btn-danger">
            <localize key="openingsoon_clearAll"></localize>
        </a>
        <a ng-if="model.config.enableAutofill"
           ng-click="vm.autofill()"
           class="btn btn-action btn-small">
            <localize key="openingsoon_autofill"></localize>
        </a>
    </div>

</div>